<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 网站用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <script type="text/javascript" src="../../../views/user/user/layui/layui.js"></script>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">

        <div class="layui-form searchDiv" id="id2">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    角色名：<select name="rid" lay-verify="required" id="rid">
                    <option value="">选择角色</option>
                </select>
                </div>
                <button type="button" class="layui-btn" data-type="reload">搜索</button>
            </div>

        </div>

<!--        <div class="layui-form layui-card-header layuiadmin-card-header-auto">-->
<!--            <div class="layui-form-item">-->
<!--                <div class="layui-inline">-->
<!--                    <label class="layui-form-label">用户名</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <input type="text" name="username" id="unid" placeholder="请输入" autocomplete="off" class="layui-input">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="layui-inline">-->
<!--                    <label class="layui-form-label">角色名</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <select name="rolename" lay-verify="required" id="rid">-->
<!--                            <option value="">请选择角色</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <button type="button" class="layui-btn" data-type="reload">搜索</button>-->
<!--            </div>-->
<!--        </div>-->


        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="add" onclick="add()">添加角色</button>
            </div>

            <table class="layui-hide" id="demo" lay-filter="test"></table>
            <script type="text/html" id="barDemo">

                <a class="layui-btn layui-btn-xs" lay-event="edit">修改用户角色</a>

            </script>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../views/user/user/js/jquery-1.12.2.min.js"></script>
<script>

    layui.use(['laydate', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
        var laydate=layui.laydate // 日期
            ,layer = layui.layer //弹层
            ,table = layui.table //表格
            ,element = layui.element //元素操作
            ,form=layui.form;

        $.ajax({
            type:"get",
            url:"/dianjing/role/query.do",
            dataType:"json",
            success:function(data){
                if(data.code == 0){
                    var infos = data.info
                    $(infos).each(function () {
                        var html = '<option value="' + this.rid+ '">' + this.rolename + '</option>'
                        $("#rid").append($(html))

                    })
                    form.render()
                }else{
                    layer.msg("获取数据异常");
                }
            }
        })
        table.render({
            elem: '#demo',
            id:'transferTable',
            height:400  ,
            url:'/dianjing/role/queryLimit2.do',
            page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                //,groups: 1 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页
                ,limits:[5,10]
            }
            //开启分页
            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left', filter:"test"}
                ,{field: '', title: '序号', templet:'#xuhao', width:80, sort: true, fixed: 'left'}
                ,{field: 'uid', title: 'uid',hide:true }
                ,{field: 'rid', title: 'rid',hide:true }
                ,{field: 'username', title: '用户名',width:150}
                ,{field: 'name', title: '姓名',width:150}
                ,{field: 'rolename', title: '角色名', width:150}
                ,{fixed: 'right',title: '操作', width: 165, align:'center', toolbar: '#barDemo'}

            ]]
        });

        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'del'){
                layer.confirm('真的要删除吗？？？', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                    $.ajax({
                        type:"get",
                        url:"role/delete.do?id=" + data.uid,
                        dataType:"json",
                        success:function(data){
                            if(data.code == 0){
                                table.reload('demo');
                            }else{
                                alert(data.info);
                            }
                        }
                    })
                });
            } else if(layEvent === 'edit'){
                //layer.msg('编辑操作');
                layer.open({
                    type: 2 //此处以iframe举例
                    , title: '修改角色信息'
                    , area: ['650px', '600px']
                    , content: 'updateRole.html?id=' + data.uid
                })
            }
        });

        var active = {
            reload: function(){
                //执行重载
                table.reload('transferTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: { // 额外需要提交的参数
                        rid:$("#rid").val(),
                    }
                });
            }
        };
        $('.searchDiv .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    })
</script>
<script type="text/html" id="xuhao">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script type="text/javascript">
    function add(){
        layer.open({
            type: 2 //此处以iframe举例
            , title: '添加角色信息'
            , area: ['650px', '600px']
            , content: 'addRole.html'
        })
    }
    function show() {
        layer.open({
            type:2
            , title: '查看已有角色'
            , area:  ['650px', '600px']
            , content: 'showRole.html'
        })
    }
</script>
</body>
</html>
