<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" />
    <script type="text/javascript" src="../../../layuiadmin/layui/layui.js" ></script>

    <script type="text/javascript" src="../../../layuiadmin/layui/jquery-1.12.2.min.js" ></script>

    <style type="text/css">
        #content{
            margin:20px;
            float: right;
        }
        hr {
            margin: 0 auto;
            border: 0;
            height: 4px;
            background: #333;
            background-image: linear-gradient(to right, red, #333, rgb(9, 206, 91));
        }

        h2 {
            text-align: center;
            margin: 30px;
            color: orangered;
            font-size: 40px;
            font-family: 幼圆;
        }

        #id2{

            text-align: center;
            margin-bottom: 30px;
        }

    </style>
</head>
<body class="layui-layout-body">
<div>
    <h2>选择题管理</h2>
    <div class="layui-form searchDiv" id="id2">
        <button type="button" class="layui-btn" onclick="answer()">
            查看简答题 <span class="badge"></span>
        </button>
        <button type="button" class="layui-btn" onclick="judge()">
            查看判断题 <span class="badge"></span>
        </button>
        <button type="button" class="layui-btn" onclick="add()">
            添加 <span class="badge"></span>
        </button>
        <button id="btn" class="layui-btn" type="button">
            批量删除 <span class="badge"></span>
        </button>

        <div class="layui-inline">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <select name="TTestTypeName" lay-verify="required" id="TTestTypeName">
                        <option value="">按照科目查询</option>
                    </select>
                </div>
            </div>
            
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" name="score" id="scoreValue" lay-verify="text" placeholder="按照分值查找" autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" name="searchName" id="searchName" lay-verify="text" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <button type="button" class="layui-btn" data-type="reload">搜索</button>

        </div>

    </div>
</div>

<hr>

<table class="layui-hide layui-l" id="demo" lay-filter="test"></table>
<hr>
<script type="text/html" id="barDemo">

    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script>
    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
        var laydate = layui.laydate //日期
            ,laypage = layui.laypage //分页
            ,layer = layui.layer //弹层
            ,table = layui.table //表格
            ,$ = layui.$
            ,element = layui.element //元素操作
            ,form=layui.form;


        $.ajax({
            type:"get",
            url:"/dianjing/TTestType/findAllTTestType",
            dataType:"json",
            success:function(data){
                if(data.code == 1){
                    var infos = data.info;
                    $(infos).each(function () {
                        $("#TTestTypeName").append('<option value="' + this.tid + '">' + this.typeName + '</option>')
                    });
                    form.render()
                }else{
                    layer.msg("获取数据异常");
                }
            }
        })

        //执行一个 table 实例
        table.render({
            elem: '#demo'
            ,id:"transferTable"
            ,height: 'full'
            ,width: 'full'
            ,url: '/dianjing/TChoose/listTChoose' //数据接口
            ,title: '视频表'
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                ,curr: 1 //设定初始在第 5 页
                ,limit: 5
                ,groups: 3 //只显示 1 个连续页码
                //,groups: 1 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页
                ,limits:[5,10]

            } //开启分页
            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left', filter:"test"}
                ,{field: '', title: '序号', templet:'#xuhao', width:80, sort: true, fixed: 'left'}
                ,{field: 'coment', title: '题目', width:150, align:'center', sort: true}
                ,{field: 'cid', title: 'cid', hide: true }
                ,{field: 'axuanxiang', title: 'A选项', width:100, align:'center', sort: true}
                ,{field: 'bxuanxiang', title: 'B选项', width:100, align:'center', sort: true}
                ,{field: 'cxuanxiang', title: 'C选项', width:100, align:'center', sort: true}
                ,{field: 'dxuanxiang', title: 'D选项', width:100, align:'center', sort: true}
                ,{field:'typeName',title:'所属课程',width:120, align:"center"}
                ,{field: 'correct', title: '正确选项',align:'center', width:100}
                ,{field: 'decs', title: '解析', width:160, align:'center', sort: true}
                ,{field: 'score', title: '分值', width:80},
				,{fixed: 'right',title: '操作', width: 165, align:'center', toolbar: '#barDemo'}
            ]]
        });


        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                    $.ajax({
                        type:"get",
                        url:"/dianjing/TChoose/deleteTChoose?id=" + data.cid,
                        dataType:"json",
                        success:function(data){
                            if(data.code == 1){
                                layer.msg("删除成功!", {
                                    icon: 6,
                                    time: 500
                                }, function () {
                                    table.reload('transferTable');// 重新加载页面,demo 表示父窗体table标签的id值
                                });
                            }else{
                                alert(data.info);
                            }
                        }
                    })
                });
            } else if(layEvent === 'edit'){
                //layer.msg('编辑操作');
                layer.open({
                    type: 2 //此处以iframe举例
                    , title: '修改选择题'
                    , area: ['700px', '600px']
                    , content: 'chooseUpdate.html?id='+data.cid
                })
            }
        });
        var active = {
            reload: function(){
                //执行重载
                table.reload('transferTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: { // 额外需要提交的参数
                        tid:$("#TTestTypeName option:selected").val(),
                        score:$("#scoreValue").val(),
                        searchName:$("#searchName").val(),
                    }
                });
            }
        };

        $('.searchDiv .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });



    $('#btn').click(function () {
        var checkStatus = table.checkStatus('transferTable'),
            data = checkStatus.data;

        if (data == "") {
            layer.msg('至少选择一个', {icon: 2});
            return;
        }
        var ids = "";
        if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                ids += data[i].cid + ",";
            }
			ids = ids.substring(0, ids.length - 1);
        }
        layer.confirm('确认删除吗？' + ids, function (index) {
            $.ajax({
                type: "post",
                url: "/dianjing/TChoose/deleteSomeTChoose",
                data: {"ids": ids},
                success: function (data) {
                    if (data.code == 1) {
                        layer.msg("删除成功!", {
                            icon: 6,
                            time: 500
                        }, function () {
                            table.reload('transferTable');// 重新加载页面,demo 表示父窗体table标签的id值
                            layer.close(index);
                        });
                    } else {
                        layer.msg("删除失败");
                    }
                }
            })

        });

    })
    })
</script>
<script type="text/html" id="xuhao">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script type="text/javascript">
    function add(){
        layer.open({
            type: 2 //此处以iframe举例
            , title: '添加选择题'
            , area: ['700px', '580px']
            , content: 'chooseAdd.html'
        })
    }

    function answer() {
        window.location.href = "answer.html"
    }
    function judge() {
        window.location.href = "judge.html"
    }

</script>
</body>
</html>
