<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <title>layuiAdmin 主页示例模板二</title>
	  <meta name="renderer" content="webkit">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
	  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
	  <script type="text/javascript" src="../../../layuiadmin/layui/layui.js"></script>
	</head>
	<body>
		
		<div class="layui-fluid">
		    <div class="layui-row layui-col-space15">
				
				<div class="layui-col-sm6 layui-col-md3">
				  <div class="layui-card">
				    <div class="layui-card-header">ID--课程</div>
				    <div class="layui-card-body">
				      <div class="layui-tab-content">

				          <table class="layui-hide layui-l" id="demo" lay-filter="test"></table>

				      </div>
				    </div>
				  </div>
				</div>

			  
			  	<div class="layui-col-sm10 layui-col-md5">
			  	  <div class="layui-card">
			  	    <div class="layui-card-header">
						请注意上传格式
			  	      <span class="layui-badge layui-bg-blue layuiadmin-badge">上传选择题</span>
			  	    </div>
			  	    <div class="layui-card-body layuiadmin-card-list">
			  	      <p>
			  	        coment axuanxiang bxuanxiang cxuanxiang dxuanxiang correct score  tid   decs <br/>
						题目    A选项       B选项      C选项      D选项     正确选项  分值 所属课程  解析
			  	        <span class="layuiadmin-span-color">88万 <i class="layui-inline layui-icon layui-icon-flag"></i></span>
			  	      </p>
					  <div class="layui-upload">
					    <button type="button" class="layui-btn layui-btn-normal" id="choose1">选择文件</button>
					    <button type="button" class="layui-btn" id="choose2">开始上传</button>
					  </div>
			  	    </div>
			  	  </div>
			  	</div>
			  
			  	
			  	<div class="layui-col-sm10 layui-col-md5">
			  	  <div class="layui-card">
			  	    <div class="layui-card-header">
						请注意上传格式
			  	      <span class="layui-badge layui-bg-blue layuiadmin-badge">上传判断题</span>
			  	    </div>
			  	    <div class="layui-card-body layuiadmin-card-list">
			  	      <p>
			  	        coment correct  score   tid      decs<br/>
					    题目 A/B(对/错)  分值  所属课程id   解析
			  	        <span class="layuiadmin-span-color">88万 <i class="layui-inline layui-icon layui-icon-flag"></i></span>
			  	      </p>
					  <div class="layui-upload">
					    <button type="button" class="layui-btn layui-btn-normal" id="judge1">选择文件</button>
					    <button type="button" class="layui-btn" id="judge2">开始上传</button>
					  </div>
			  	    </div>
			  	  </div>
			  	</div>
			  
			  	
			  	<div class="ayui-col-sm10 layui-col-md5">
			  	  <div class="layui-card">
			  	    <div class="layui-card-header">
						请注意上传格式
			  	      <span class="layui-badge layui-bg-blue layuiadmin-badge">上传简答题</span>
			  	    </div>
			  	    <div class="layui-card-body layuiadmin-card-list">
			  	      <p>
			  	        coment decs  score  tid<br/>
						  题目 解析  分值  所属课程id
			  	        <span class="layuiadmin-span-color">88万 <i class="layui-inline layui-icon layui-icon-flag"></i></span>
			  	      </p>
					  <div class="layui-upload">
					    <button type="button" class="layui-btn layui-btn-normal" id="answer1">选择文件</button>
					    <button type="button" class="layui-btn" id="answer2">开始上传</button>
					  </div>
			  	    </div>
			  	  </div>
			  	</div>
			</div>
		</div>
	</body>
	<script>
	layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function() {
		var laydate = layui.laydate //日期
				, laypage = layui.laypage //分页
				, layer = layui.layer //弹层
				, table = layui.table //表格
				, element = layui.element //元素操作
				, form = layui.form
				, $ = layui.$
				, upload = layui.upload;


		//执行一个 table 实例
		table.render({
			elem: '#demo'
			, id: "transferTable"
			, height: 'full'
			, width: 'full'
			, url: '/dianjing/TTestType/listMyTTestType' //数据接口

			, title: ''
			 //开启分页
			, cols: [[ //表头
				{field: 'tid', title: '课程号', width: 100, sort: true, align: 'center'}
				, {field: 'typeName', title: '课程名', width: 100, sort: true, align: 'center'}
			]]
		});



		//选完文件后不自动上传
		upload.render({
			elem: '#answer1'
			, url: '/dianjing/TAnswer/importAnswer'
			, auto: false
			, method: 'post'
			, accept: 'file'
			, field: 'upfile'
			, exts: 'xls|xlsx'
			, enctype: "multipart/form-data"
			// , multiple: true
			, bindAction: '#answer2'
			, done: function (data) {
				if (data.code == 1) {
					layer.msg("导入成功!", {icon: 6, time: 500});
				} else {
					layui.alert(data.info);
				}
			}
		});

		upload.render({
			elem: '#choose1'
			, url: '/dianjing/TChoose/importTChoose'
			, auto: false
			, method: 'post'
			, enctype: "multipart/form-data"
			, accept: 'file'
			, field: 'upfile'
			, exts: 'xls|xlsx'
			, bindAction: '#choose2'
			, done: function (data) {
				if (data.code == 1) {
					layer.msg("导入成功!", {icon: 6, time: 500});
				} else {
					layui.alert(data.info);
				}
			}
		});

		upload.render({
			elem: '#judge1'
			, url: '/dianjing/TJudge/importTJudge'
			, auto: false
			, method: 'post'
			, enctype: "multipart/form-data"
			, accept: 'file'
			, field: 'upfile'
			, exts: 'xls|xlsx'
			, bindAction: '#judge2'
			, done: function (data) {
				if (data.code == 1) {
					layer.msg("导入成功!", {icon: 6, time: 500});
				} else {
					layui.alert(data.info);
				}
			}
		})

	})



	</script>
	
</html>
