<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lisa.gametest.dao.TAnswerMapper">
    
    <resultMap type="TAnswer" id="TAnswerResult">
        <result property="aid"    column="aid"    />
        <result property="coment"    column="coment"    />
        <result property="tid"    column="tid"    />
        <result property="decs"    column="decs"    />
        <result property="score"    column="score"    />
    </resultMap>

    
    <select id="selectTAnswerById" parameterType="int" resultMap="TAnswerResult">
        select * from t_answer
        where aid = #{aid}
    </select>

    <select id="selectBySearch" parameterType="map" resultType="MyAnswer">
        select t.*, te.typeName from t_answer t
        inner join t_test_type te
        on t.tid = te.tid
        where 1 = 1
        <if test="tid != null">
            and t.tid = #{tid}
        </if>
        <if test="searchName != null ">
            and t.coment like "%${searchName}%"
        </if>
        <if test="score != null">
            and t.score = #{score}
        </if>
    </select>

    <insert id="insertSomeAnswer" parameterType="java.util.List" useGeneratedKeys="true">
        insert into t_answer
        (coment, tid, decs, score)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.coment},
            #{item.tid},
            #{item.decs},
            #{item.score}
            )
        </foreach>
    </insert>


    <select id="findTAnswerCount" parameterType="int" resultType="Integer" >
        select count(1) from t_answer where tid = #{tid}
    </select>

    <select id="createTAnswerExams" parameterType="Map" resultType="Integer">
        select aid from t_answer WHERE tid = #{tid} order by rand() limit #{aNum};
    </select>

    <insert id="insert" parameterType="TAnswer">
        insert into t_answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coment != null">
                coment,
            </if>
            <if test="tid != null">
                tid,
            </if>
            <if test="decs != null">
                decs,
            </if>
            <if test="score != null">
                score
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="coment != null">
                #{coment},
            </if>
            <if test="tid != null">
                #{tid},
            </if>
            <if test="decs != null">
                #{decs},
            </if>
            <if test="score != null">
                #{score}
            </if>
        </trim>
    </insert>

    <update id="updateTAnswer" parameterType="TAnswer">
        update t_answer
        <trim prefix="SET" suffixOverrides=",">
            <if test="coment != null  and coment != ''">coment = #{coment},</if>
            <if test="tid != null ">tid = #{tid},</if>
            <if test="decs != null  and decs != ''">decs = #{decs},</if>
            <if test="score != null ">score = #{score},</if>
        </trim>
        where aid = #{aid}
    </update>

    <delete id="deleteByTAnswerId" parameterType="int">
        delete from t_answer where aid = #{aid}
    </delete>

    <delete id="deleteTAnswerByIds" parameterType="Map">
        delete from t_answer where aid in 
        <foreach item="aid" collection="array" open="(" separator="," close=")">
            #{aid}
        </foreach>
    </delete>
    
</mapper>