<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lisa.gametest.dao.TJudgeMapper">
    
    <resultMap type="TJudge" id="TJudgeResult">
        <result property="jid"    column="jid"    />
        <result property="coment"    column="coment"    />
        <result property="correct"    column="correct"    />
        <result property="score"    column="score"    />
        <result property="tid"    column="tid"    />
        <result property="decs"    column="decs"    />
    </resultMap>

    <select id="selectTJudgeById" parameterType="int" resultMap="TJudgeResult">
        select * from t_judge
        where jid = #{jid}
    </select>

    <select id="selectBySearch" parameterType="map" resultType="MyJudge">
        select t.* ty.typeName from t_judge t
        inner join t_test_type ty
        on t.tid = ty.tid
        where 1 = 1
        <if test="tid != null">
            and t.tid = #{tid}
        </if>
        <if test="searchName != null ">
            and t.coment like "%${searchName}%"
        </if>
        <if test="score != null">
            and t.score = #{score}
        </if>
    </select>

    <insert id="insertSomeJudge" parameterType="java.util.List" useGeneratedKeys="true">
        insert into t_answer
        (coment, correct, score, tid, decs)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.coment},
            #{item.correct},
            #{item.score},
            #{item.tid},
            #{item.decs}
            )
        </foreach>
    </insert>
        
    <insert id="insertTJudge" parameterType="TJudge" useGeneratedKeys="true" keyProperty="jid">
        insert into t_judge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coment != null  and coment != ''">coment,</if>
            <if test="correct != null  and correct != ''">correct,</if>
            <if test="score != null  and score != ''">score,</if>
            <if test="tid != null ">tid,</if>
            <if test="decs != null  and decs != ''">decs,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="coment != null  and coment != ''">#{coment},</if>
            <if test="correct != null  and correct != ''">#{correct},</if>
            <if test="score != null  and score != ''">#{score},</if>
            <if test="tid != null ">#{tid},</if>
            <if test="decs != null  and decs != ''">#{decs},</if>
         </trim>
    </insert>

    <update id="updateTJudge" parameterType="TJudge">
        update t_judge
        <trim prefix="SET" suffixOverrides=",">
            <if test="coment != null  and coment != ''">coment = #{coment},</if>
            <if test="correct != null  and correct != ''">correct = #{correct},</if>
            <if test="score != null  and score != ''">score = #{score},</if>
            <if test="tid != null ">tid = #{tid},</if>
            <if test="decs != null  and decs != ''">decs = #{decs},</if>
        </trim>
        where jid = #{jid}
    </update>

    <delete id="deleteByTJudgeId" parameterType="int">
        delete from t_judge where jid = #{jid}
    </delete>

    <delete id="deleteTJudgeByIds" parameterType="Map">
        delete from t_judge where jid in 
        <foreach item="jid" collection="array" open="(" separator="," close=")">
            #{jid}
        </foreach>
    </delete>
    
</mapper>