<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lisa.gametest.dao.TKuinfoMapper">
    <select id="findAll" resultType="com.lisa.gametest.vo.Studentinfo">
        select DISTINCT i.kinfoid,u.name,u.sex,k.kid,k.createTime,k.endTime,k.kaoshiTime,t.typeName from t_kuinfo i
		INNER JOIN t_user u
		on i.uid=u.uid
        inner join t_test_number k
        on i.kid=k.kid
        inner join t_test_type t
        on k.tid=t.tid
        <where>
            <if test="name != null and name  != ''">
                name   like"%"#{name}"%"
            </if>
            <if test="typeName != null and typeName != ''">
                and typeName=#{typeName}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="int">
        delete from t_kuinfo where kinfoid = #{kinfoid}
    </delete>
</mapper>