<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lisa.gametest.dao.TOverPaperMapper">
    
    <resultMap type="TOverPaper" id="TOverPaperResult">
        <result property="oid"    column="oid"    />
        <result property="pid"    column="pid"    />
        <result property="uid"    column="uid"    />
        <result property="commitchoose"    column="commitChoose"    />
        <result property="commitjudge"    column="commitJudge"    />
        <result property="commitanswer"    column="commitAnswer"    />
        <result property="score"    column="score"    />
        <result property="state"    column="state"    />
    </resultMap>


    <select id="findOid" parameterType="map" resultMap="TOverPaperResult">
        select * from t_over_paper where uid = #{uid} and qid = #{qid}
    </select>

    <select id="findAllTP" parameterType="map" resultType="com.lisa.gametest.vo.overPaperInfo">
        select top.*,tu.name, ty.typeName from t_over_paper top
        inner join t_user tu
        on tu.uid=top.uid
        inner join t_paper tp
        on tp.qid=top.qid
        inner join t_test_type ty
        on ty.tid=tp.tid
        <where>
            <if test="typeName != null and typeName != ''">
                and ty.typeName=#{typeName}
            </if>
            <if test="name != null and name  != ''">
                name like concat ('%',concat(#{name}),'%')
            </if>
        </where>
    </select>

    <select id="findByState" parameterType="int" resultType="com.lisa.gametest.vo.overPaperInfo">
        select t_over_paper.state from t_over_paper
        where t_over_paper.oid=#{oid}
    </select>

    <delete id="deleteById" parameterType="int">
        delete from t_over_paper where oid=#{oid}
    </delete>

    <delete id="deleteAll" parameterType="int">
        delete from t_over_paper where oid in
        <foreach collection="array" item="oid" open="(" close=")" separator=",">
            #{oid}
        </foreach>
    </delete>


    <update id="updateTOverPaper" parameterType="TOverPaper">
        update t_over_paper
        <trim prefix="SET" suffixOverrides=",">
            <if test="qid != null  and qid != ''">qid = #{qid},</if>
            <if test="uid != null  and uid != ''">uid = #{uid},</if>
            <if test="commitChoose != null  and commitChoose != ''">commitChoose = #{commitChoose},</if>
            <if test="commitJudge != null  and commitJudge != ''">commitJudge = #{commitJudge},</if>
            <if test="commitAnswer != null  and commitAnswer != ''">commitAnswer = #{commitAnswer},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="score != null and score != ''">score = #{score},</if>
        </trim>
        where oid = #{oid}
    </update>
    
</mapper>