<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lisa.gametest.dao.TOverPaperMapper">
    
    <resultMap type="TOverPaper" id="TOverPaperResult">
        <result property="oid"    column="oid"    />
        <result property="pid"    column="pid"    />
        <result property="uid"    column="uid"    />
        <result property="commitchoose"    column="commitChoose"    />
        <result property="commitjudge"    column="commitJudge"    />
        <result property="commitanswer"    column="commitAnswer"    />
        <result property="score"    column="score"    />
    </resultMap>


    
</mapper>