<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lisa.gametest.dao.TRoleMapper">
    
    <resultMap type="TRole" id="TRoleResult">
        <result property="rid"    column="rid"    />
        <result property="rolename"    column="rolename"    />
    </resultMap>

    <sql id="selectTRoleVo">
        select rid, rolename from t_role
    </sql>

    <select id="selectTRoleList" parameterType="TRole" resultMap="TRoleResult">
        <include refid="selectTRoleVo"/>
        <where>  
            <if test="rolename != null  and rolename != ''"> and rolename like concat('%', #{rolename}, '%')</if>
        </where>
    </select>
    
    <select id="selectTRoleById" parameterType="Long" resultMap="TRoleResult">
        <include refid="selectTRoleVo"/>
        where rid = #{rid}
    </select>
        
    <insert id="insertTRole" parameterType="TRole" useGeneratedKeys="true" keyProperty="rid">
        insert into t_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rolename != null  and rolename != ''">rolename,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rolename != null  and rolename != ''">#{rolename},</if>
         </trim>
    </insert>

    <update id="updateTRole" parameterType="TRole">
        update t_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="rolename != null  and rolename != ''">rolename = #{rolename},</if>
        </trim>
        where rid = #{rid}
    </update>

    <delete id="deleteTRoleById" parameterType="Long">
        delete from t_role where rid = #{rid}
    </delete>

    <delete id="deleteTRoleByIds" parameterType="String">
        delete from t_role where rid in 
        <foreach item="rid" collection="array" open="(" separator="," close=")">
            #{rid}
        </foreach>
    </delete>

    <select id="addRole" parameterType="TRole">
        insert into t_role(rolename)
        values (#{rolename})
    </select>

    <select id="addUserRole" parameterType="int">
        insert into t_user_role(rid,uid)
        values (3,#{id})
    </select>

    <select id="findAll" resultType="TRole">
        select * from t_role
    </select>

    <select id="findAllByLimit"  resultType="TRole">
        select * from t_role
    </select>
<!--    <select id="findAllRoleByLimit"  resultType="com.lisa.gametest.vo.RoleInfo">-->
<!--        select u.uid, ur.rid,username, name, rolename-->
<!--        from t_user u-->
<!--        inner join t_user_role ur-->
<!--        on ur.uid = u.uid-->
<!--        inner join t_role r-->
<!--        on r.rid=ur.rid-->
<!--    </select>-->



    <select id="findAllRoleByLimit" parameterType="int" resultType="com.lisa.gametest.vo.RoleInfo">
        select u.uid, r.rid, u.username, u.name, r.rolename
        from t_user u
        inner join t_user_role ur
        on ur.uid = u.uid
        inner join t_role r
        on r.rid=ur.rid
        <where>
            <if test="rid != null and rid  != ''">
                r.rid=#{rid}
            </if>
        </where>
    </select>

    <select id="queryById" parameterType="int" resultType="TRole">
        select * from t_role where uid=#{id}
    </select>

    <update id="updateUserRole" parameterType="TUserRole">
         update t_user_role set rid=#{rid} where uid=#{uid}
    </update>

    
</mapper>