<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lisa.gametest.dao.TTestNumberMapper">
    
    <resultMap type="TTestNumber" id="TTestNumberResult">
        <result property="kid"    column="kid"    />
        <result property="createtime"    column="createTime"    />
        <result property="endtime"    column="endTime"    />
        <result property="kaoshitime"    column="kaoshiTime"    />
        <result property="tid"    column="tid"    />
        <result property="qid"    column="qid"    />
    </resultMap>




    


</mapper>