<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lisa.gametest.dao.TUserMapper">
    
    <resultMap type="TUser" id="TUserResult">
        <result property="uid"    column="uid"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="phone"    column="phone"    />
        <result property="state" column="state" />
<!--        <collection property="tUserlist" javaType="list" ofType="TUser">-->
<!--            <result property="uid"    column="uid"    />-->
<!--            <result property="username"    column="username"    />-->
<!--            <result property="password"    column="password"    />-->
<!--            <result property="name"    column="name"    />-->
<!--            <result property="sex"    column="sex"    />-->
<!--            <result property="phone"    column="phone"    />-->
<!--            <result property="state" column="state" />-->
<!--        </collection>-->
    </resultMap>

    <sql id="selectTUserVo">
        select uid, username, password from t_user
    </sql>

    <select id="selectTUserList" parameterType="TUser" resultMap="TUserResult">
        <include refid="selectTUserVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
        </where>
    </select>
    
    <select id="selectTUserById" parameterType="Long" resultMap="TUserResult">
        <include refid="selectTUserVo"/>
        where uid = #{uid}
    </select>
        
    <insert id="insertTUser" parameterType="TUser" useGeneratedKeys="true" keyProperty="uid">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null  and username != ''">username,</if>
            <if test="password != null  and password != ''">password,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null  and username != ''">#{username},</if>
            <if test="password != null  and password != ''">#{password},</if>
         </trim>
    </insert>

    <update id="updateTUser" parameterType="TUser">
        update t_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null  and username != ''">username = #{username},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
        </trim>
        where uid = #{uid}
    </update>

    <delete id="deleteTUserById" parameterType="Long">
        delete from t_user where uid = #{uid}
    </delete>

<!--    <delete id="deleteTUserByIds" parameterType="String">-->
<!--        delete from t_user where uid in -->
<!--        <foreach item="uid" collection="array" open="(" separator="," close=")">-->
<!--            #{uid}-->
<!--        </foreach>-->
<!--    </delete>-->
    <select id="findByName" parameterType="string" resultType="TUser">
        select * from t_user where username=#{name}
    </select>

    <select id="findRolesByName" parameterType="string" resultType="string">
        select r.rolename from t_user u
        inner join t_user_role ur
        on u.uid=ur.uid
        inner join t_role r
        on r.rid=ur.rid
        where u.username=#{name}
    </select>

    <select id="findPermsByName" parameterType="string" resultType="string">
        select DISTINCT p.permision_name from t_user u
        inner join t_user_role ur
        on ur.uid=u.uid
        inner join t_role_permision rp
        on rp.rid=ur.rid
        inner join t_permision p
        on p.pid=rp.pid
        where p.permision_name is not null and u.username=#{name}
    </select>


    <select id="findAllByLimit2"  resultType="com.lisa.gametest.vo.TUserInfo">
        select u.uid, username, password, name, sex, phone, state, r.rolename
        from t_user u
        inner join t_user_role ur
        on ur.uid=u.uid
        inner join t_role r
        on r.rid=ur.rid
        where u.uid > 1
    </select>
    
    <select id="add" parameterType="TUser">
        insert into t_user(username, password, name, sex, phone, state)
        values (#{username}, #{password}, #{name}, #{sex}, #{phone}, 0)
    </select>
    
    <delete id="deleteById" parameterType="int">
        delete from t_user where uid=#{id}
    </delete>

    <delete id="deleteTUserByIds" parameterType="map">
        delete from t_user where uid in
        <foreach item="uid" collection="array" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </delete>

    <delete id="checkById" parameterType="int">
        update t_user set state=1 where uid=#{id} and uid!=1
    </delete>

    <select id="queryById" parameterType="int" resultType="TUser">
        select * from t_user where uid=#{id}
    </select>

    <update id="update" parameterType="TUser">
         update t_user set username=#{username},password=#{password},
         name=#{name},sex=#{sex}, phone=#{phone} where uid=#{uid}
    </update>

    <select id="findAll1" parameterType="map"  resultType="TUser">
        select * from t_user
        <where>
            <if test="username != null and username  != ''">
                and username   like"%"#{username}"%"
            </if>
            <if test="name != null and name != ''">
                and name   like"%"#{name}"%"
            </if>
            <if test="sex != null and sex != ''">
                and sex  like"%"#{sex}"%"
            </if>
            <if test="state != null and state != ''">
                and state=#{state}
            </if>
        </where>

    </select>
    <select id="findAll" resultType="TUser">
        select * from t_user
    </select>
    




    
</mapper>